@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

button {
  border-radius: 5px;
  outline: none;
  margin: 5px;
  padding: 10px 25px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgb(114, 114, 114);
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  transition: ease 0.2s;
}

button.good {
  background-color: darkgreen;
}

button.bad {
  background-color: rgb(175, 42, 42);
}

button:hover {
  opacity: 0.9;
}
button:active {
  transform: scale(0.95);
}
